@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	margin: 0;
	padding: 0;
}

#section {
	width: 100%;
	height: 100vh;
	background: url(event_background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#leftBox {
	width: 50%;
	height: 100%;
	float: left;
	padding: 50px;
	box-sizing: border-box;
}

#content{
	color: #fff;
	background: rgba(0,0,0,0.4);
	padding: 40px;
	transition: 0.5s;
}

#content:hover{
	background: #e91e63;
}

#content h1{
	margin: 0;
	padding: 0;
	font-size: 40px;
	text-transform: uppercase;
}

#content p{
	margin: 10px 0 0;
	padding: 0;
	font-size: 18px;
}

#events{
	position: relative;
	width: 50%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	float: right;
	box-sizing: border-box;
}

#events ul{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 40px;
	box-sizing: border-box;
}

#events ul li{
	list-style: none;
	background: #fff;
	box-sizing: border-box;
	height: 200px;
	margin: 15px 0;
}

ul li #time{

	position: relative;
	padding: 20px;
	background: #262626;
	box-sizing: border-box;
	width: 30%;
	height: 100%;
	float: left;
	text-align: center;
	transition: 0.5s;
}

#events ul li:hover #time{
	background: #e91e63;
}

#time h2{
	position: absolute;
	margin: 0;
	padding: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
	color: #fff;
	font-size: 40px;
	line-height: 30px;
	font-family: 'Roboto', sans-serif;
}

#events #time h2 #span{
	font-size: 30px;
}

#events ul li #details{
	padding: 20px;
	background: #fff;
	box-sizing: border-box;
	width: 70%;
	height: 100%;
	float: left;
}

#details h3{
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 22px;
	font-family: 'Roboto', sans-serif;
}

#details p{
	position: relative;
	margin: 10px 0 0;
	padding: 0;
	font-size: 17px;
}

#details a{
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 15px; 
	border: 2px solid #000;
	margin-top: 15px;
	font-size: 17px;
	transition: 0.5s;
	float: right;
	font-weight: 500;
}


#details a:hover{
	background: #e91e63;
	color: #fff;
	border-color: #e91e63;
}