body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #326c902e;
    background-image: url(img/website-design-background.png);   
}
.container{
    background-color: #fff;
    width: 850px;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 1px 1px 50px rgba(0,0,0,.2);
}
.container::before{
    content: '';
    width:350px;
    height: 500px;
    background-color:#0014fa;
    position: absolute;
    
    
}
.icon img{
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%,-50%);
    width: 150px;
    height: 100px;
}

.icon p{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
    font-family: sans-serif;
    color: #fff;
}
.social{
    position:absolute;
    top: 70%;
    left: 20%;
    transform: translate(-50%,-50%);
}
.social img{
    width: 50px;
    height: 50px;
    padding: 15px;
    margin: 0 2px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.1);
}
.social img:hover{
    transform: scale(1.2);
    transition: .5s;
}

.forms{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
    width: 350px;
    overflow: hidden;
    
}
.forms input{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    outline: none;
    padding: 0 0 0 35px;
    border: 1px solid rgba(0,0,0,0);
    border-bottom-color:#0014fa;
    background:transparent;
}
.forms img{
    width: 20px;
    position: absolute;
    margin-top: 15px;
    
    
}
.forms input[type="checkbox"]{
    width: 20px;
    margin: 16px 0 0 2px;
    padding: 0;
    border: 2px solid #5bb9ec;
    width: 15px;
    height: 15px;
    -webkit-appearance:none;
    background-color: #fff;
    outline: none;
    
}
input:checked[type="checkbox"]{
    background-color: #0014fa;
    border: none;
   
}
.agree{
    float: right;
    margin-right: 125px;
    font-size: 15px;
    
}
.forms input[type="submit"]{
    width: 100%;
    border: none;
    background-color: #0014fa;
    color: #fff;
    cursor: pointer;
    padding: 0;
 }
 

@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Candal);

@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

@import url(https://fonts.googleapis.com/css?family=Monoton);

.container .icon .wrapper .chrome {
  position: relative;
  background-image: -webkit-linear-gradient(#378DBC 0%, #B6E8F1 46%, #ffffff 50%, #32120E 54%, #FFC488 58%, #582C11 90%, #EC9B4E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 4px #f5f5f5;
  font-size: 60px;
  text-align: left;
  font-family: 'Arial', sans-serif;
  font-style: italic;
  margin: 0;
  line-height: 1;
}
.container .icon .wrapper .chrome:before {
  content: 'CHROME';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
  background-position:-680px 0;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0;
  -webkit-animation-name: chrome_effect;
  -webkit-animation-duration: 6s;
  -webkit-animation-delay: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}


@-webkit-keyframes chrome_effect {
  0% {background-position:-680px 0;}
  10% {background-position:420px 0;}
  100% {background-position:420px 0;}
}